#mensaje_tool {
	border-color: #FF0000;
	border:1px;
	border-style:solid;
	background: #FFDFDD;
	font: Verdana, Arial, Helvetica, sans-serif;
	size:8px;
	display : none;
	position:absolute;
	top: 330px;
	left: 430px;
	width: 300px;
	text-align:center;
	padding:6px;
	z-index: 999;
}
/*
   .textos{
	margin: 6px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	font-family: verdana, Arial, Helvetica, sans-serif;
	 font-size: 0.9em;
	font-weight: normal;

 }
*/

#contenido {
	color: #2C2C2C;
}
.textos {
}
.textos-rojo {
	color: #cc0000;
	text-align: center;
}
.textos_h2 {
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.cuadro_light_blue {
	border: 1px solid #999999;
	background-color: #D0E3FB;
	-moz-border-radius:5px 5px 5px 5px;
	padding: 5px;
}
.cuadro {
	border: 1px #ccc solid
}
/* ---------->>> jtip <<<---------------------------------------------------------------*/

#JT_arrow_left {
	background-image: url(../images/deuman/jtips/arrow_left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	left:-12px;
	height:23px;
	width:10px;
	top:-3px;
}
#JT_arrow_right {
	background-image: url(../images/deuman/jtips/arrow_right.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	height:23px;
	width:11px;
	top:-2px;
}
#JT {
	position: absolute;
	z-index:100;
	border: 2px solid #CCCCCC;
	background-color: #fff;
}
#JT_copy {
	padding:10px 10px 10px 10px;
	color:#333333;
}
.JT_loader {
	background-image: url(../images/deuman/jtips/loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
	height:12px;
}
#JT_close_left {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}
#JT_close_right {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}
#JT_copy p {
	margin:3px 0;
}
#JT_copy img {
	padding: 1px;
	border: 1px solid #CCCCCC;
}
.jTip {
	cursor:help;
	text-decoration:none;
}
.tabla_rojo {
	background:url("../images/danger.png") no-repeat scroll left center #FFEAEA;
	font-weight : bolder;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-top: 10px;
	width:70%;
	border:1px solid #FF8C8C;
	color:#333333;
	background-color: #fff5ee;
	font-size: 15px;
	-moz-border-radius:5px 5px 5px 5px;
}
.tabla_rojo_sin_ico {
	font-weight : bolder;
	padding:10px;
	width:70%;
	border:1px solid #FF8C8C;
	color:#333333;
	background-color: #fff5ee;
	font-size: 15px;
	-moz-border-radius:5px 5px 5px 5px;
}
.tabla_rojo_sin_ico_dup {
	font-weight : bolder;
	padding-bottom :15px;
	padding-top :5px;
	padding-left :5px;
	padding-right :5px;
	width:90%;
	border:1px solid #FF8C8C;
	color:#333333;
	background-color: #fff5ee;
	font-size: 13px;
	height:5px;
	/*//-moz-border-radius:5px 5px 5px 5px;*/
}

.tabla_amarillo_sin_ico_dup {
	font-weight : bolder;
	padding-bottom :15px;
	padding-top :5px;
	padding-left :5px;
	padding-right :5px;
	width:90%;
	border:1px solid #FFFF00;
	color:#333333;
	background-color: #fffff0;
	font-size: 13px;
	height:5px;
	/*-moz-border-radius:5px 5px 5px 5px;*/
}

.tabla_verde_sin_ico_dup {
	font-weight : bolder;
	padding-bottom :15px;
	padding-top :5px;
	padding-left :5px;
	padding-right :5px;
	width:90%;
	border:1px solid #8BDA8F;
	color:#333333;
	background-color: #ebffe8;
	font-size: 13px;
	height:5px;
	/*-moz-border-radius:5px 5px 5px 5px;*/
}

.tabla_alerta a {
	font-family: erdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: left;
	color: #000000;
	text-decoration: none;
}
.tabla_amarillo {
	background:url("../images/warning.png") no-repeat scroll left center #fffff0;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-top: 10px;
	border:1px solid #FFD24D;
	color:#333333;
	background-color: #fffff0;
	-moz-border-radius:5px 5px 5px 5px;
	margin-top: 20px;
}
.tabla_amarillo_sin_ico {
	padding: 10px;
	border:1px solid #FFD24D;
	color:#333333;
	background-color: #fffff0;
	-moz-border-radius:5px 5px 5px 5px;
}
.tabla_verde {
	background-color: #EDF1F5;
	border: 1px solid #6AAAFF;
	border-radius: 5px 5px 5px 5px;
	color: #333333;
	float: right;
	margin-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-top: 10px;
}
.tabla_verde_sin_ico {
	padding:10px;
	border:1px solid #8BDA8F;
	color:#333333;
	background-color: #ebffe8;
	-moz-border-radius:5px 5px 5px 5px;
}
img.valign {
	height: 100%;
	vertical-align: middle;
}





/*****semilla*/


.semilla {
	color: #9F9F9F;
	font :11px/140% Verdana, Helvetica, sans-serif;
}
.semilla a {
	text-decoration: none;
	color: #9F9F9F;
	font :11px/140% Verdana, Helvetica, sans-serif;
}
.semilla a:visited, .breadcrumb a:active {
	font :11px/140% Verdana, Helvetica, sans-serif;
}
.semilla a:hover {
	text-decoration: underline;
}
/******fin semilla**/
/*****semilla_admin*/


.semilla_admin {
	color: #333333;
	font :11px/140% Verdana, Helvetica, sans-serif;
}
.semilla_admin a {
	text-decoration: none;
	color: #333333;
	font :11px/140% Verdana, Helvetica, sans-serif;
}
.semilla_admin a:visited, .breadcrumb a:active {
	font :11px/140% Verdana, Helvetica, sans-serif;
}
.semilla_admin a:hover {
	text-decoration: underline;
}
/******fin semilla_admin**/

/*contenedor info tp*/
.info_tp {
	position:fixed;
	margin-left:100%;
	border: solid #F00 1px;
	margin-left: 6px;
	background-color: #fff;
	z-index: 999;
	filter:alpha(opacity=70);
	opacity:0.7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: left;
	padding : 5px;
}
.info_tp:hover {
	filter:alpha(opacity=100);
	opacity:1;
}
/********************/

.msg_search {
	text-align : right;
	font-size: 10px;
	font-style: italic;
	color: #999999;
	display: none;
}
.jTip2 {
	text-decoration:none;
}




div.derecha{
  float: right;
  
}

.izquierda{
  float: left;
}

.well_auto_admin {
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 10px;
  min-height: 10px;
  padding: 10px;
}
.boton_search_auto_admin {
	margin-bottom: 9px;
}

.btn_google {
	
	border-radius: 3px;
 -moz-border-radius: 3px;
 background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
 background: -moz-linear-gradient(top, #fff, #ddd); 
 border: 1px solid #bbb;
 width :100px;
}
