/* cuerpo html */
html, body{ 
 margin:0; 
 padding:0; 
 text-align:center; 
 font: normal  Arial, Tahoma, sans-serif;
 background-color: #3D587A;
 margin-top: 10px;
} 

 /* ancho de pagina */
 
#pagewidth{ 
 width:902px; 
 text-align:left;  
 margin-left:auto; 
 margin-right:auto;  
} 
 
  /* header */
#header{
 position:relative; 
 height:119px; 
 background-color:#FFFFFF; 
 width:100%;
} 
#header2{
 position:relative; 
 height:0px; 
 background-color:#FFFFFF; 
 width:100%;
}

 /* columna de contenido */
#maincol{background-color: #ffffff;  
 float: right; 
 display:inline; 
 position: relative; 
 width:700px; 
 }
 

 
 /* footer */
 
 #footer{
 height:120px; 
  background-color:#cccccc; 
 clear:both;
 } 
 
 /* footer */
 


/* menu de navegacion */
 
#menu{
	width:200px;
	float:left;
	position:relative;
	background-color:#4D719F;
 }
 
 #menu ul
{
	margin: 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
	border-right: 0px solid #cdcdcd;
}

#menu ul li.head
{
	font: bold 0.9em Arial, Tahoma, sans-serif;
	color: #FFFFFF;
	text-transform: uppercase;
	padding: 15px 0px 15px 15px;
}
 
 #menu ul li
{
	border-bottom: 1px solid #cdcdcd;
}

#menu ul li a
{
	background-color: #4D719F;
	display: block;
	font: normal 0.8em Arial, Tahoma, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	padding: 8px 10px 8px 15px;
	height: 1%;
}

#menu ul li a:hover
{
	background-color: #003474;
	background-image: url(../images/hover_menu.gif);
}

#menuul li.current a
{
	background-color: #fff;
	font: bold 0.8em Arial, Tahoma, sans-serif;
	color: #33393c;
	text-decoration: none;
	padding: 8px 10px 8px 16px;
	margin-left: -1px;
}

 
 /* fin menu de navegacion */
 
 
#maincol p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	color: #3D587A;
	margin-right: 8px;
	margin-left: 8px;
	padding-right: 8px;
	padding-left: 8px;
 }
 
 #maincol a{
	text-decoration: underline;	
 }
 
 #maincol table{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em; 
	margin: 8px;


 }
 


 
   #maincol table th{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	
	background-color:  #FFE3A8;

 }
 

 
 #maincol h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	margin: 8px;
	color: #3D587A;
 }
 
#pagewidth #wrapper #maincol #form-block {
	margin-left: 8px;
	background-color: #f4f4f4;
	padding: 5px;
	 width:670px; 
}

 
 #maincol ·form-block {

	margin: 8px;
	
 }
 
 
.miga{
	margin: 2px;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	font-weight: bold;

 }
 
  .textos{
	margin: 6px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	font-weight: normal;

 }
 
 .mensaje{
	margin: 8px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	text-align: right;
 }
 
 
 


 
 /* *** fix *** */ 
.clearfix:after {
 content: "."; 
 display: block; 
height: 0; 
 clear: both; 
 visibility: hidden;
 }
 
.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 2%;}
.clearfix{display: block;
background-color:#4D719F}
/* End hide from IE-mac */  


 
 /*printer styles*/ 
 @media print{ 
/*hide the left column when printing*/ 
#leftcol{display:none;} 
#twocols, #maincol{width:100%; float:none;}
}




/* tablas
------------------------------------------------------*/

#table-block
{
	position: relative;
	margin-right: 270px;
}

#table-block.wide
{
	position: relative;
	margin: -5px;
}

#table-block table
{
	width: 95%;
	position: relative;
}

#table-block.wide table
{
	width: 95%;
}

#table-block table tr td
{
	padding: 15px 6px 5px 6px; 
	border-bottom: 1px solid #cdcdcd;
}

#table-block table tr.header td
{
	font: bold 0.9em Arial, Tahoma, sans-serif;
	color: #fff;
	padding: 5px 5px 5px 5px; 
	background-color: #4a5154;
}

#table-block table tr.header2 td
{
	font: bold 0.9em Arial, Tahoma, sans-serif;
	color: #fff;
	padding: 5px 5px 5px 5px; 
	background-color: #4a5154;
}

#table-block table tr.alternate
{
	background-color: #f5f5ed;
}

#table-block table td.true
{
	color: #009933;
}

#table-block table td.false
{
	color: #990000;
}

#table-block table td.actions
{
	color: #ccc;
}

#table-block table tr:hover
{
	background-color: #ffffd4;
}

#table-block table td.actions a
{
	font: bold 0.9em Arial, Tahoma, sans-serif;
	color: #0099ff;
	text-decoration: none;
	padding: 0px 2px 0px 2px;
	text-transform: uppercase;
}

#table-block table td.actions a.delete
{
	color: #999;
}

#table-block table td.actions a:hover
{
	color: #ff6600;
}











.textos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #003366;
	text-decoration: none;
}
.textos_plomo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #ccc;
	text-decoration: none;
}

.textos_simple {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #003366;
	text-decoration: none;
}
.textos_simple a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #003366;
	text-decoration: none;
}


.textos_rojo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #D62916	;
	text-decoration: none;
}


.top_caja {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.top_caja_texto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	padding: 4px;
}


/*formularios*/

fieldset {
	border: 1px dashed #f2f2f2;
	width:95%;
	background-color: #f9f9f9;
}

legend {
	width:98%;
	padding: 3px;
	font-weight: bold;
	background-color: #4D719F;
	color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #4D719F;
	border-right-color: #4D719F;
	border-bottom-color: #4D719F;
	border-left-color: #4D719F;
}
label {
	font-weight: bold;
	font-size: 0.8em;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 8px;
	
}
input {
	font-size: 1em;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 8px;
}



select {
	padding: 3px;

	font-size: 0.8em;
	margin: 2px;
}

.botones{
	clear:both;
	margin-top:10px;
	text-align: center;
	font-weight: bold;
}

.botones:focus{
	clear:both;
	margin-top:10px;
	text-align: center;
	font-weight: bold;
}


.botones input{
	font-size:130%;
	margin-right: 5px;
}
hr{
	border-top-width: 0.1em;
	border-right-width: 0.1em;
	border-bottom-width: 0.1em;
	border-left-width: 0.1em;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.tabla_nb{
		border: 0px solid #000000;

 }
